---
layout: default
---

<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog Post - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=b37981cbf6c921ca5ef95d6f04eca21b">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if page.image %}
  <header class="masthead" style="background-image:url('{{page.image}}?h={{page.imagehash}}');">
  {% else %}
  <header class="masthead">
  {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                  {% if page.icon %}
                  <div class="logo">

                          <i class="fa fa-{{page.icon}}"></i>

                  </div>
                  {% endif %}
                  <div class="post-heading">
                      <h2>{{page.title}}</h2>

                      <span>
                          <time datetime="">
                                 {{ page.date | date: '%B %d, %Y' }}
                          </time>
                      </span>

                  </div>
                </div>
            </div>
        </div>
    </header>
</head>
{{content}}

</html>
